.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.resume-section-one {
}

.resume-section-one .name {
  font-size: 30px;
  width: 150px;
  text-align: start;
}

.resume-section-one img {
  object-fit: cover;
  border-radius: 50px;
}

.resume-section-one .info {
  list-style: none;
}

.resume-section-two .content {
  text-align: start;
}

.resume-section-two .duration {
  color: rgb(60, 161, 201);
}

.resume-section-two .skillslist {
  list-style: none;
}

.resume-section-two .skillsItem {
  background-color: rgb(60, 161, 201);
  padding: 5px;
  border-radius: 10px;
  color: white;
}
